.warframes-display{
    padding-top: 1px;
    background-color: whitesmoke;
    margin: 3rem;
    color: white;
    margin-top: -8px;
    padding-bottom: 10rem;
}
.warframe-nav{
    display: grid;
    padding: 50px;
    grid-template-columns: repeat(12, 7%);
    grid-gap: 1%;
}
.warframe-text{
    position: absolute;
    margin-top: -22px;
    color: white;
    background-color: #00000099;
    width: 63px;
    text-align: center;
}
.a{
    color: black;
    text-align: center;
}
.overview{
    padding: 3rem;
    text-align: center;
    color: black;
}
.overview h2{
    text-align: center;
    border-bottom-style: solid;
    width: 10rem;
    border-bottom-color: #a90c2a;
    margin-left: 42%;
}
.foundry div{
    display: flex;
}
.sectione{
    align-items: center;
    display: flex;

}
.boxe{
    text-align: center;
    margin-right: 15%;
    margin-left: 10px;
}
.abc{
    text-align: center;
    margin: 3rem;
    margin-right: 3rem;
    background-color: rgb(160, 160, 160);
}
.abc > p{
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.first{
    margin-left: 20px;
    display: flex;
}
.desc{
    padding-top: 11rem;

}
.all-warframes{
    margin-top: 5rem;
}